* {
  box-sizing: border-box;
  text-align: center;
}

body {
	/*background: #4aaaa5;*/
	background: white;
}

#container {
	background-image: url('../images/concrete_seamless.png');
	background-attachment: fixed;
	height: 700px;
	/*margin: 0;*/
  /*	top: 0;
  	left: 0;*/
}

#fixedheader {
  background: white;
  /*position: fixed;*/
/*  padding-left: 50px;*/
  width: 100%;
  height: 100px;
  margin: 0;
  top: 0;
  left: 0;

}

#nametop {
  	background: #4aaaa5;
  	color: white;
  	font-size: 30px;
  	font-family: Georgia;
  	height: 100px;
  	width: 300px;
  	padding: 30px;
  	margin-left: 100px;
  	text-align: center;
 /* 	margin: 0;
  	top: 0;
  	left: 0;*/

}

#about {
	background: pink;
	float: right;
	height: 80px;
  	width: 80px;
  	padding: 10px;
  	text-align: center;
}

#portfolio{
	background: lightgreen;
	float: right;
	height: 80px;
  	width: 80px;
  	padding: 10px;
  	text-align: center;
}

#contact{
	background: lightblue;
	float: right;
	height: 80px;
  	width: 80px;
  	padding: 10px;
  	text-align: center;
}

.wrapper{
  background: white;
	width: 650px;
	margin: 50px auto 0 100px;
	padding: 20px;
}

/*
.art{
	color: white;
}

.hhh {
	background-color: #ebebeb;
	height: 50px;
	padding-top: 20px;
	margin: 30px 20px 0px 20px;
}

.p_div{
	background-color: #ebebeb;
	padding-top: 18px;
	height: 50px;
	margin: 20px 20px 10px 20px;
}
*/

footer {
	clear: both;
	overflow: auto;
  position: fixed;
  padding: 40px;
  	margin-bottom: 20px;
  	background: #666666;
  	color: white;
  	height: 100px;
  	font-family: "arial"
  	font-size: 18px;
  	width: 100%;
    border-top-width: 10px; 
    border-top-style: solid;
    border-top-color: #4aaaa5;
}