* {
  box-sizing: border-box;
  /*text-align: center;*/
}

body {
  background-image: url('../images/concrete_seamless.png');
}

#container {
	background-attachment: fixed;
	height: 700px;
	margin: 0;
  top: 0;
  left: 0;
}

#fixedheader {
  background: white;
  position: fixed;
  width: 100%;
  height: 100px;
  margin: 0;
  top: 0;
  left: 0;
  z-index: +1;

}

#nametop {
  	background: #4aaaa5;
  	color: white;
  	font-size: 30px;
  	font-family: Georgia;
  	height: 100px;
  	width: 300px;
  	padding: 30px;
  	margin-left: 100px;
  	text-align: center;
}

#links{    
    font-size: 16px;
    font-family: Georgia;
    position: absolute;
    background-color: white;
    color: gray;
    top: 40px;
    left: 800px;
    width: 250px;
    height: 50px;
    border: 5px solid white;
    text-align: center;

}

h1{
  border-bottom: solid;
}

.wrapper{
    position: absolute;
    background-color: white;
    color: #4aaaa5;
    top: 150px;
    left: 100px;
    width: 650px;
    height: 500px;
    border: 30px solid white;
}

img{
  float: left;
}

.wrapperportfolio{
    position: absolute;
    float: left;
    background-color: white;
    color: #4aaaa5;
    top: 150px;
    left: 100px;
    width: 650px;
    height: 1050px;
    border: 30px solid white;
}

#portfoliopics{
  padding-left: 10px;
}
.contactwrapper{
    position: absolute;
    text-align: left;
    background-color: white;
    color: #4aaaa5;
    top: 150px;
    left: 100px;
    width: 650px;
    height: 500px;
    border: 30px solid white;
}

#textfield1{
  height: 30px;
  width: 100%;
  font-size: 16px;
  color: lightgray;
}

#textfield2{
  height: 30px;
  width: 100%;
  font-size: 16px;
  color: lightgray;
}

#messagefield1{
  height: 150px;
  width: 100%;
}

#buttonsubmit{
  background-color: #4aaaa5;
  font-size: 16px;
}

#networklinks{
    position: absolute;
    text-align: center;
    background-color: white;
    color: #4aaaa5;
    top: 150px;
    left: 790px;
    width: 270px;
    height: 200px;
    border: 10px solid white;
}

footer {
	clear: both;
	overflow: auto;
  position: fixed;
  text-align: center;
  padding: 40px;
  margin-bottom: 20px;
  background: #666666;
  color: white;
  height: 100px;
  font-family: "arial"
  font-size: 12px;
  width: 100%;
  border-top-width: 10px; 
  border-top-style: solid;
  border-top-color: #4aaaa5;
}