* {
  box-sizing: border-box;
  text-align: center;
}

body {
	background: #4aaaa5;
}

#container {
	background-color: gray;
	height: 700px;
	margin: 0;
  	top: 0;
  	left: 0;
	/*width: 960px;*/
	/*margin: 10px auto 25px auto;*/
}

#fixedheader {
  background: white;
  padding-left: 50px;
  width: 100%;
  height: 100px;
  margin: 0;
  top: 0;
  left: 0;

}

#nametop {
  	background: #4aaaa5;
  	color: white;
  	font-size: 24px;
  	font-family: Georgia;
  	height: 100px;
  	width: 290px;
  	padding: 40px;
  	text-align: center;
  	margin: 0;
  	top: 0;
  	left: 0;

}

#about {
	background: red;
	float: left;
}

#portfolio{
	background: green;
	float: left;
}

#contact{
	background: blue;
	float: left;
}

article{
	padding-top: 20px;
	background-color: #777;
	height: 200px;
	margin: 30px 10px 10px 10px;
}

.art{
	color: white;
}

.hhh {
	background-color: #ebebeb;
	height: 50px;
	padding-top: 20px;
	margin: 30px 20px 0px 20px;
}

.p_div{
	background-color: #ebebeb;
	padding-top: 18px;
	height: 50px;
	margin: 20px 20px 10px 20px;
}

aside {
	padding-top: 50px;	
  	margin-bottom: 20px;
  	margin-left: 20px;
	float: left;
	background-color: #ebebeb;	
	height: 300px;
	width: 445px;
}

footer {
	clear: both;
	overflow: auto;
  	padding: 40px;
  	margin-bottom: 20px;
  	background: #666666;
  	color: white;
  	height: 100px;
  	font-family: "arial"
  	font-size: 18px;
  	width: 100%;
}